@media (max-width: 500px) {
	#main::after {
		content: '小于500px显示';
	}
	
}

@media (min-width: 500px) {
	.mediaquery {
		background-color: blue;
	}
}

@media (max-width: 500px) {
	.mediaquery {
		background-color: green;
	}
}
